.sign-up-header-title{
    margin-top: 20px;
    text-align: center;
    margin-right: 20px;
}
.sign-up-form-container{
   width: 420px;
   height: 350px;
   margin: 40px auto;
   border: solid 1px gray;
   padding-top: 20px;
   border-radius: 8px;
   box-shadow: .8px .5px .8px gray;

}
.sign-up-para-name,.sign-up-para-email,.sign-up-para-password{
    margin: 0;
    margin-bottom: 5px;
    width: 350px ;
    margin-left: 30px;
}
 .sign-up-form-container input{
    margin-bottom: 20px;
    height: 25px;
    width: 350px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
}
.sign-up-create-button{
    padding: 8px 129px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
    margin-left: 30px;

}
